@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #2e2e2e;
    padding: 1.2rem;
    display: flex;
    justify-content: flex-end;
}

.search-container {
    position: relative;
}

.search-icon i {
    color: #aaa;
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.3s ease;
    font-size: 20px;
}

.search-icon i:hover {
    color: #000;
    cursor: pointer;
    transform: translateY(-50%) scale(1.2);
}

.search {
    position: relative;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 0.5rem 2rem 0.5rem 1rem;
    font-family: inherit;
    font-size: 1rem;
    box-sizing: border-box;
    margin-right: 25px;
}

.search:focus {
    outline: none;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie {
    background-color: #2e2e2e;
    width: 185px;
    height: 280px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    margin: 0.8rem;
    cursor: pointer;
    overflow: hidden;
}

.movie img {
    height: 100%;
    width: auto;
    border-radius: 5px;
    object-fit: cover;
}

.overview h3 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    border: 1px solid;
    padding: 12px;
    background-color: #1C1C1C;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
}

.overview {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    position: absolute;
    transition: opacity 0.3s ease;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.movie:hover img {
    filter: blur(1);
}

.movie:hover .overview {
    opacity: 1;
    border-radius: 5px;
}

.movie:hover .movie-info h3,
.movie:hover .movie-info span {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.genreModalContent {
    position: relative;
    display: none;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
    width: 20%;
    height: auto;
    overflow: hidden;
    background-color: #fefefe;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid #888;
    width: 90%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.genreModal h2 {
    padding: 10px;
    margin-top: -10px;
}

.genreCheckbox {
    margin: 8px;
    cursor: pointer;
    width: 20px;
}

.genreLabel {
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: all 100ms;
}

.genreLabel:hover {
    color: #ffc800;
    font-size: 19px;
}

.confirmButton {
    background-color: #2e2e2e;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 80px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 15px auto;
}

.confirmButton:hover {
    background-color: #ffc800;
    color: #000;
}

.closeModal {
    position: absolute;
    top: 0;
    font-size: 26px;
    right: 1.5%;
    top: 2%;
    cursor: pointer;
    font-weight: bold;
    transition: transform 300ms;
}

.closeModal:hover {
    color: #ffc800;
    transform: scale(1.2);
}

.genres {
    display: flex;
    margin-bottom: 20px;
    list-style-type: none;
    margin-top: -25px;
}

.genre {
    border: 1px solid;
    background-color: #1C1C1C;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 20px;
    margin-right: 5px;
    border: none;
}

.fa-bookmark {
    display: none;
    position: absolute;
    top: 0.50rem;
    right: 0.50rem;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    transition: all 300ms;
}

.fa-bookmark:hover {
    transform: translateY(10%) scale(1.2);
}

.fa-bookmark.saved {
    color:#ffc800;
}

.remove-button {
    display: none;
    position: absolute;
    top: 0.50rem;
    right: 0.50rem;
    cursor: pointer;
    transition: all 300ms;
    color: #ffc800;
    background-color: transparent;
    border: none;
    outline: none;
}

.noFavorites {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    margin: 110px auto;
    color: #ffc800;
}

.noFavorites i {
    font-size: 40px;
    margin: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
}

#prevPage, #nextPage {
    border: 1px solid #ffc800;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 100px;
    background-color: #1C1C1C;
    color: #ffc800;
    cursor: pointer;
}

#prevPage:hover, #nextPage:hover {
    background-color: #ffc800;
    color: #000;
}

.image-not-found {
    font-size: 16px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ffc800;
    max-width: 200px;
    word-wrap: break-word;
}

.image-not-found i {
    font-size: 35px;
}

.modal {
    display: none;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 40px auto;
    padding: 50px;
    border: 1px solid #888;
    width: 90%;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.director {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.director-container {
    margin-right: 20px;
}

.director-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    padding-bottom: 10px;
}

.director img {
    width: 120px;
    height: auto;
    border-radius: 5px;
    margin: 5px 0;
}

.director h2 {
    font-size: 17px;
    font-weight: normal;
    margin: 5px 5px;
}

.movieOverview {
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 20px;
}

.expand {
    font-size: 18px;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffc800;
}

.casts h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.actor {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
}

.actor img {
    width: 136px;
    height: auto;
    border-radius: 5px;
    margin-right: 5;
    border: 1px solid #2e2e2e;
}

.actor-name {
    font-size: 14px;
    display: flex;
    justify-content: center;
}

nav {
    color: #fff;
    display: flex;
}

nav .mainMenu {
    display: flex;
    list-style: none;
    position: absolute;
    right: 75%;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

nav .mainMenu li:hover a {
    color: #ffc800;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

.closeMenu {
    display: none;
}

.close {
    position: absolute;
    top: 2%;
    right: 2%;
    color: #aaa;
    float: right;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    padding: 6px 14px;
}

.close:hover,
.close:focus {
    color: #fff;
    background-color: #2e2e2e;
    text-decoration: none;
    cursor: pointer;
}

footer {
    display: block;
    margin-top: 20px;
}

.copyright {
    font-size: .9rem;
    text-decoration: none;
    position: relative;
    color: #ADB5BD;
    background: linear-gradient(to right, #000000, #ADB5BD, #000000);
    background-size: auto 1px;
    background-repeat: repeat-x;
    background-position: 0 0.5em;
    text-align: center;
    padding: 1.4rem;
}

.user-link {
    position: relative;
    text-decoration: none;
    color: #ffc800;
    transition: color 0.3s;
}

.user-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffc800;
    transform: scaleX(0);
    transition: transform 0.3s
}

.user-link:hover::before {
    transform: scaleX(1);
}

@media screen and (max-width: 374px) {
    .genres {
        padding: 2px 2px;
        font-size: small;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: -30px;
    }
    
    .genre {
        display: inline-block;
        margin-bottom: 5px;
        background-color: #1C1C1C;
        color: white;
        font-size: small;
        border-radius: 5px;
        padding: 6px 3px;
    }

    .search {
        position: relative;
        right: 5px;
        padding: 5px;
        z-index: 1;
        font-size: small;
    }

    .search-icon i {
        position: absolute;
        right: 40px;
        z-index: 1;
    }

    .movieOverview {
        font-size: 14px;
    }

    .casts {
        font-size: 12px;
    }
    
    .actor {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .actor img {
        width: 110%;
        max-width: 102px;
        height: auto;
        object-fit: cover;
    }

    .movieInfo {
        display: block;
    }

    .overview h3 {
        display: none;
    }

    .director-info h2 {
        margin-bottom: 3px;
        font-size: 12px;
    }

    header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem;
    }

    .search-container {
        order: 3;
    }

    .noFavorites {
        text-align: center;
        padding: 20px;
        font-size: 16px;
        margin: 110px auto;
        color: #ffc800;
    }
    
    .noFavorites i {
        font-size: 35px;
        margin: 10px;
    }

    .menu {
        display: none;
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        background-color: #2e2e2e;
        padding: 1rem;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        z-index: 2;
        order: 2;
        transition: top 0.3s ease;
    }

    .modal-content {
        display: flex;
        flex-wrap: wrap;
        max-width: 90%;
        margin: 0 auto;
    }

    .modal-content .close {
        position: relative;
        left: 0;
        padding: 5px;
        font-size: 14px;
        bottom: 30px;
        margin-bottom: 15px;
    }

    .genreModalContent {
        position: relative;
        display: none;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        width: 20%;
        height: auto;
        overflow: hidden;
        background-color: #fefefe;
        margin: 40px auto;
        padding: 30px;
        border: 1px solid #888;
        width: 90%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .genreModal h2 {
        padding: 10px;
        margin-top: -20px;
        font-size: 18px;
    }
    
    .genreCheckbox {
        margin: 5px;
        cursor: pointer;
        width: 10px;
    }
    
    .genreLabel {
        font-weight: bold;
        cursor: pointer;
        font-size: 14px;
    }
    
    .confirmButton {
        background-color: #2e2e2e;
        color: #fff;
        font-weight: bold;
        border: none;
        padding: 10px 60px;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin: 15px auto;
        margin-bottom: -10px;
    }

    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 3;
        color: #fff;
    }

    nav .openMenu {
        display: block;
        font-size: 25px;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: #fdfdfd;
        font-size: 1.6rem;
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

@media screen and (min-width: 375px) and (max-width: 549px) {
    .movie {
        width: 161px;
        height: 240px;
        margin: 10px;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        display: inline-block;
    }

    .movie img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
    }

    .overview h3 {
        display: none;
    }

    .genres {
        padding: 2px 2px;
        font-size: small;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: -30px;
    }
    
    .genre {
        display: inline-block;
        margin-bottom: 5px;
        background-color: #1C1C1C;
        color: white;
        font-size: small;
        border-radius: 5px;
        padding: 8px 4px;
    }

    .search {
        font-size: small;
    }

    .movieOverview {
        font-size: 14px;
    }

    .casts {
        font-size: 12px;
    }
    
    .actor {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .actor img {
        width: 110%;
        max-width: 102px;
        height: auto;
        object-fit: cover;
    }

    .movieInfo {
        display: block;
    }

    .director-info h2 {
        margin-bottom: 3px;
        font-size: 12px;
    }

    header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem;
    }

    .search-container {
        order: 3;
    }

    .noFavorites {
        text-align: center;
        padding: 20px;
        font-size: 16px;
        margin: 110px auto;
        color: #ffc800;
    }
    
    .noFavorites i {
        font-size: 35px;
        margin: 10px;
    }

    .menu {
        display: none;
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        background-color: #2e2e2e;
        padding: 1rem;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        z-index: 2;
        order: 2;
        transition: top 0.3s ease;
    }

    .modal-content .close {
        position: relative;
        left: 0;
        padding: 3px;
        bottom: 30px;
        margin-bottom: 15px;
    }

    .modal-content .bookmark {
        position: absolute;
        text-align: center;
        padding: 5px 10px;
        margin: 5px 30px;
        top: 15px;
    }

    .genreModalContent {
        position: relative;
        display: none;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        width: 30%;
        height: auto;
        overflow: hidden;
        background-color: #fefefe;
        margin: 40px auto;
        padding: 30px;
        border: 1px solid #888;
        width: 90%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .genreModal h2 {
        font-size: 18px;
        padding: 10px;
        margin-top: -20px;
    }
    
    .genreCheckbox {
        margin: 5px;
        cursor: pointer;
        width: 10px;
    }
    
    .genreLabel {
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .confirmButton {
        background-color: #2e2e2e;
        color: #fff;
        font-weight: bold;
        border: none;
        padding: 10px 80px;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin: 15px auto;
        margin-bottom: -10px;
    }

    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 3;
        color: #fff;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: #fdfdfd;
        font-size: 1.6rem;
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

@media screen and (min-width: 550px) and (max-width: 819px) {
    .movie {
        width: 161px;
        height: 240px;
        margin: 10px;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        display: inline-block;
    }

    .movie img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
    }

    .casts {
        font-size: 12px;
    }
    
    .actor {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .actor img {
        width: 110%;
        max-width: 102px;
        height: auto;
        object-fit: cover;
    }

    .movieInfo {
        display: block;
    }

    .director-info h2 {
        margin-bottom: 3px;
        font-size: 16px;
    }

    header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem;
    }

    .search-container {
        order: 3;
    }

    .menu {
        display: none;
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        background-color: #2e2e2e;
        padding: 1rem;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        z-index: 2;
        order: 2;
        transition: top 0.3s ease;
    }

    .modal-content .bookmark {
        position: absolute;
        text-align: center;
        padding: 5px 10px;
        margin: 5px 30px;
        top: 15px;
    }

    
    .genreModalContent {
        position: relative;
        display: none;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        width: 30%;
        height: auto;
        overflow: hidden;
        background-color: #fefefe;
        margin: 40px auto;
        padding: 30px;
        border: 1px solid #888;
        width: 90%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .genreModal h2 {
        padding: 10px;
        margin-top: -20px;
        font-size: 20px;
    }
    
    .genreCheckbox {
        margin: 5px;
        cursor: pointer;
        width: 10px;
    }
    
    .genreLabel {
        font-weight: bold;
        cursor: pointer;
    }
    
    .confirmButton {
        background-color: #2e2e2e;
        color: #fff;
        font-weight: bold;
        border: none;
        padding: 10px 80px;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin: 15px auto;
        margin-bottom: -10px;
    }

    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 3;
        color: #fff;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: #fdfdfd;
        font-size: 1.6rem;
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

@media screen and (min-width: 820px) and (max-width: 1274px) {
    .movie {
        width: 161px;
        height: 240px;
        margin: 10px;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        display: inline-block;
    }

    .movie img {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        order: 2;
    }

    nav {
        color: #fff;
        display: flex;
    }
    
    nav .mainMenu {
        display: flex;
        list-style: none;
        position: absolute;
        right: 62%;
    }
    
    nav .mainMenu li a {
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        color: #fff;
    }

    nav .openMenu {
        font-size: 2rem;
        margin: 20px;
        cursor: pointer;
    }
}
