@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: #2e2e2e;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    margin: 1rem;
}

.movie img {
    width: 100%;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    align-items: center;
    color: #eee;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #1C1C1C;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: limegreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}